# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/

# Visual Studio Code
.vscode/
*.code-workspace

# User-specific files
*.rsUser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
.idea_modules/
*.sln.iml

# NuGet
.nuget/
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# Local Environment files
.env
.env.local

# Output files
*.dll
*.exe
*.pdb

# OS files
Thumbs.db
.DS_Store

# Python
__pycache__/
*.pyc
